@using Mimi.Model;

@model List<CityTile>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
    <p>
        @Html.ActionLink($"{item.Name} - {item.PointsOfInterestCount}", "Details", "Home", new { cityResource = item.ResourceName });
    </p>
}

